@font-face {
  font-family: 'Fredoka';
  src: url('./fonts/Fredoka.woff2') format('woff2');
  font-weight: 300 700;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}